body{

    background-image: 
    url('../asset/bg-pic.png');
    color: white;
    font-size: 20px;
    background-size:cover;
}
.info{
    position: relative;
    top: 100px;
}
/* p{
    position: relative;
    top:581px;
    left: 99px
} */