/* .card{
    width: 600px;
    height:950px; 
    position: relative;
    top: 20px;
    left:55%; 
    border-radius:21px;
    border:1px;
    background: rgba(255, 255, 255, 0.43);
    font-size:x-large;
    color: white;
} */

/* h1{
    position: relative;
    top:216px;
    left:99px;
} */

/* .pass-label1{
    position: relative;
    right: 39%;
}
.pass-label2{
    position: relative;
    right: 32%;
} */

/* .control {
width: 530px;
height: 67px;
top: 273px;
left: 758px;
border-radius: 21px;
border: solid white;
background: rgba(255, 255, 255, 0.43);
} */
/* 
.btn{
    background: rgba(74, 7, 50, 1);
    border-radius: 21px;
    border-color:rgba(255, 255, 255, 1);
    width: 120px;
   height: 62px;
   font-size: 22px;
   margin-right: 20px;
   }
.btn2{
    background: rgba(74, 7, 50, 1);
    border-radius: 21px;
    border-color:rgba(255, 255, 255, 1);

   font-size: 22px;
   width: 340px;
   height: 62px;
   } */
